.outer-wrapper{
    display: flex;
    justify-content: center;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header-wrapper{
    display: flex;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    z-index: 1000;
    margin-top: 16px;
    padding: 10px 36px;
    border-radius: 5px;
    width: 85%;
    transition: 0.5s;
}
@media screen and (max-width: 720px){
    .header-wrapper{
        margin-top: 0;
        box-sizing: border-box;
        width: 100vw;
        border-radius: 0;
        /* padding: 10px 20px; */
        justify-content: space-between;
    }
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
li{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.padd18{
    padding-left: 18px;
    padding-right: 18px;
}
