.pagination{
    width: 70%;
    display: flex;
    margin-top: 80px;
    justify-content: space-between;
    flex-direction: row;
}
@media screen and (max-width: 720px){
    .pagination{
        width: 100%
    }
}
.pag-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.num-wrapper{
    min-width: 100px;
    justify-content: space-between;
}

@media screen and (max-width: 720px){
    .inner-main{
        /* padding: 0px;
        margin: 0px; */
        /* height: 2000px; */
    }
}

